!
{% include include_path ~ '/490_version.j2' %}{{ '' }}
!
!
{% include include_path ~ '/130_hostname.j2' %}{{ '' }}
!
!
{% include include_path ~ '/160_aaa.j2' %}{{ '' }}
{% include include_path ~ '/280_users.j2' %}{{ '' }}
!
!
{% include include_path ~ '/210_dns.j2' %}
!
!
{% include include_path ~ '/520_lldp.j2' %}{{ '' }}
!
!
{% include include_path ~ '/420_vlans.j2' %}
!
!
{% include include_path ~ '/310_interfaces.j2' %}
!
{% include include_path ~ '/316_ip_default_gateway.j2' %}
!
{% include include_path ~ '/450_syslog.j2' %}{{ '' }}
{% include include_path ~ '/440_snmp.j2' %}
!
{% include include_path ~ '/480_ntp.j2' %}
!
{% include include_path ~ '/490_lines.j2' %}
!
{% include include_path ~ '/999_end.j2' %}{{ '\n' }}
